.game {
    width: 520px; /*enlarging for 12 x 12 (13x40) */
    height: 520px;
    margin: 0 auto;
}
 
/* want to add stronger font - DONE*/ 
body { /*for adding style to the title and text*/
    font-family: Helvetica, Arial, sans-serif; /*accessible fonts*/
    font-weight: bold; /*stands out against the background*/
    color: #f1eef0;
    background-image: url('rainbow-8256809_1280.jpg'); /*check for better background images*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
  
}

h1 {
    text-align: center;
    margin-bottom: 15px;
    background: #9be409;
    color: black;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}



/*.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 440px;
    margin: 0 auto 15px auto;
    padding: 10px 0;
} */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 520px; /*for new layout*/
    margin: 0 auto;
} 

/* Make the current number stand out  -JUST ADDED THIS */
#num {
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
}

/*sound button*/
#sound-toggle {
    padding: 5px 10px;
    background-color: #9be409;
    border: 2px solid #9be409;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    height: 30px;
}
/*keep this the same as sound on button*/
#reset-game {
    padding: 5px 10px;
    background-color: #ce33c9;
    border: 2px solid #ce33c9;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    height: 30px;
}

/* Mistakes counter - new */
#mistakes {
    font-weight: bold;
    color: #ffffff;
    font-size: 30px;
}

.top-row {
    display:grid;
    grid-template-columns: repeat(13, 1fr); /*check this*/

    justify-self: center;
    /* ADD CODE HERE - removed gap as I couldn't work out how to add it to the rest of the grid
    1. Use css grid to create 11 equally sized columns 
    */
}

.bottom-row {
    /* ADD CODE HERE - 1. use css grid with 2 columns with a ratio of 1:10 - DONE - now 12!!*/
    display:grid;
    grid-template-columns: 1fr 12fr /*fractional units mentioned on VC now chaned - check this*/
}

.side-row {
    /* ADD CODE HERE - 1. this should be 40px wide - DONE */
    width: 40px;
}

.main {
    /* ADD CODE HERE    
    1. this should be 400px wide
    2. use css grid with 10 equally sized columns - DONE */ 
    width: 480px; /*12 x 40*/
    display:grid;
    grid-template-columns: repeat(12, 1fr); /*updated to 12 rows and columns*/
}

.square {
    margin: 0px;
    height: 40px;
    width: 40px;
    background: #9946ec;
    display: grid;
    justify-content: center;
    align-content: center;
    /*border-radius: 25px; turns the squares into circles*/
    
}

.square > p {
    color: 	#000000
    
}

.hidden {
    visibility: hidden
}

.game {
    width: 520px;
    height: 520px;
    margin: 0 auto; 
 
}